
    <div class="wrapper ">
        <app-sidebar></app-sidebar>
         <!-- Navbar -->
         <app-navbar></app-navbar>
        <div class="main-panel ps-container ps-theme-default ps-active-y"
            data-ps-id="e88721e3-34c5-ff04-6f0e-d049fe51f765">
           
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <!-- Footer Gelecek-->
           
        </div>
    </div>
    