<div class="row">
    <div class="col-md-6">
        <div class="form-group bmd-form-group">
            <label class="bmd-label-floating"></label>
            <input type="phone" placeholder="Phone" class="form-control" 
            #phone="ngModel" [(ngModel)]="model.phoneNumber"
            name="phoneNumber" id="phoneNumber" required>
            <div *ngIf="phone.invalid && phone.dirty" class="alert alert-danger" role="alert">
                Required the phone!
              </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group bmd-form-group">
            <label class="bmd-label-floating"></label>
            <input type="email" placeholder="E-mail" class="form-control"
            #email="ngModel" [(ngModel)]="model.email"
            name="email" id="email" required>
            <div *ngIf="email.invalid && email.dirty" class="alert alert-danger" role="alert">
                Required the e-mail!
              </div>
        </div>
    </div>
</div>

