<div id="sidebarAnimation" class="shadow">
  <ul id="sidebarUl">
    <li>
      <a [routerLink]="['/home']" routerLinkActive="router-link-active"><span class="rowTitle">Home</span><i
          class="sidebarli fa fa-home"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/new-customer']" routerLinkActive="router-link-active"><span class="rowTitle">New
          Customer</span><i class="sidebarli fa fa-plus"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/transaction']" routerLinkActive="router-link-active"><span
          class="rowTitle">Transaction</span><i class="sidebarli fa fa-exchange"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/history']" routerLinkActive="router-link-active"><span class="rowTitle">Transaction
          History</span><i class="sidebarli fa fa-history"></i>
      </a>
    </li>
    <li>
      <a [routerLink]="['/account']" routerLinkActive="router-link-active"><span class="rowTitle">Show Account</span><i
          class="sidebarli fa fa-users"></i>
      </a>
    </li>
  </ul>
</div>