<!--
<form #addressAddForm="ngForm" >
    <div class="row">
        <div class="col-md-6">
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating"></label>
                <input type="text" placeholder="Address Title" class="form-control" #title="ngModel"
                    [(ngModel)]="model.title" name="title" id="title" required>
                <div *ngIf="title.invalid && title.dirty" class="alert alert-danger" role="alert">
                    Required the title!
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <div class="form-group bmd-form-group">
                    <label class="bmd-label-floating"> </label>
                    <textarea class="form-control" placeholder="Details" #detail="ngModel" [(ngModel)]="model.detail"
                        name="detail" id="detail" required></textarea>
                    <div *ngIf="detail.invalid && detail.dirty" class="alert alert-danger" role="alert">
                        Required the detail!
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating"></label>
                <input type="text" placeholder="City" class="form-control" #city="ngModel" [(ngModel)]="model.city"
                    name="city" id="city" required>
                <div *ngIf="city.invalid && city.dirty" class="alert alert-danger" role="alert">
                    Required the city!
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="form-group bmd-form-group">
                <label class="bmd-label-floating"></label>
                <input type="text" placeholder="Province" class="form-control" #province="ngModel"
                    [(ngModel)]="model.province" name="province" id="province" required>
                <div *ngIf="province.invalid && province.dirty" class="alert alert-danger" role="alert">
                    Required the province!
                </div>
            </div>
        </div>
    </div>

</form>
-->